.body{
    font-family: 'Onest', sans-serif;
}
.header{
    background-color: #E8EFF5;
    height: 171px;
    margin-top: -10px;
}
.logo img{
    margin-left: 300px;
    margin-top: 32px;
}
.info{
    font-family: 'Onest';
    margin-left: 560px;
    margin-top: -105px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.number{
    font-family: 'Onest';
    font-size: 16px;
    margin-left: 684px;
    margin-top: -50px;
    display: flex;
    align-items: center;
    gap: 9px;
}

.a{
    text-decoration: none;
    color: #0E192E;
}
.menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 950px;
    padding-right: 350px; 
    margin-top: -35px;  
}
.order{
    background-image: url(/img/image\ 14.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 550px;
    margin-left: 300px;
    color: #FFFFFF;
}
.order h1{
    font-size: 48px;
    width: 588px;
    height: 156px;
    padding-left: 60px;
    padding-top: 60px;
}
.order p{
    background-image: url(/img/Vector\ \(7\).png);
    background-repeat: no-repeat;
    display: flex;
    font-size: 18px;
    font-family: 'Onest';
}
.catalog {
    width: 424px;
    height: 480px;
}
.enamel{
    margin-left: 300px;
}
.enamel img{
    width: 100px;
    padding: 15px;
}
.grid{
    background-color: #e8eff5;
    
}

